<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>bankMana</display-name>
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.book.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LoginOutServlet</display-name>
		<servlet-name>LoginOutServlet</servlet-name>
		<servlet-class>com.book.servlet.LoginOutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginOutServlet</servlet-name>
		<url-pattern>/LoginOutServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>UserServlet</display-name>
		<servlet-name>UserServlet</servlet-name>
		<servlet-class>com.book.servlet.UserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/UserServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>JsServlet</display-name>
		<servlet-name>JsServlet</servlet-name>
		<servlet-class>com.book.servlet.JsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>JsServlet</servlet-name>
		<url-pattern>/JsServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>AdminServlet</servlet-name>
		<servlet-class>com.book.servlet.AdminServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>SjServlet</servlet-name>
		<servlet-class>com.book.servlet.SjServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>JbServlet</servlet-name>
		<servlet-class>com.book.servlet.JbServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>BookTypeServlet</servlet-name>
		<servlet-class>com.book.servlet.BookTypeServlet</servlet-class>
	</servlet>

	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>UserTypeServlet</servlet-name>
		<servlet-class>com.book.servlet.UserTypeServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>BookServlet</servlet-name>
		<servlet-class>com.book.servlet.BookServlet</servlet-class>
	</servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>BookAddServlet</servlet-name>
    <servlet-class>com.book.servlet.BookAddServlet</servlet-class>
  </servlet>




	<servlet-mapping>
		<servlet-name>AdminServlet</servlet-name>
		<url-pattern>/AdminServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SjServlet</servlet-name>
		<url-pattern>/SjServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JbServlet</servlet-name>
		<url-pattern>/JbServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BookTypeServlet</servlet-name>
		<url-pattern>/BookTypeServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserTypeServlet</servlet-name>
		<url-pattern>/UserTypeServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BookServlet</servlet-name>
		<url-pattern>/BookServlet</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>BookAddServlet</servlet-name>
    <url-pattern>/BookAddServlet</url-pattern>
  </servlet-mapping>
</web-app>